
ul,li{
    list-style: none;
  }
  
  .card .painel {
    font-size: 12px;
    margin:auto;
    display: flex;
    width: 90%;
    color: rgb(255, 253, 251);
    text-transform: capitalize;
  }
  .card .info {
    margin:auto;
    display: flex;
    border: solid 2px black;
  }

  a{
    text-decoration: none;
    color: black;
    font-size: 15px;
  }